h3{
    text-align: center;
    color: #000000;
}

.encabezado{
    background-color: #e9ecef;
    border-radius: 30px;
    margin: 20px;
}

form{
    width: 1000px;
    height: 100px;
}

ion-button{
    margin: 30px;
}
.img{
    padding: 10px;
    border: solid 1px #e9ecef;
    width: 100%;
    border-radius: 20px;
    margin: auto;
}